In [1]:
import pathlib
from bs4 import BeautifulSoup
from IPython.display import clear_output
import pandas as pd
import datetime
import pickle

In [3]:
root = pathlib.Path('D:\股票網頁\股票\價量')
otc = root.joinpath('上櫃')

In [34]:
titles=set()
for date in pd.date_range('2007-01-02','2007-04-20'):
    print(date.date())
    text = otc.joinpath(str(date.date())).with_suffix('.html').read_text()
    if text == '\n\n':
        clear_output(wait=True)
        continue
    table = BeautifulSoup(text)
    table.find('table').find('td').decompose()
    titles.add(table.find('table'))
    clear_output(wait=True)

2007-04-20

In [37]:
len(titles)

1

In [38]:
titles

{<table border="1" cellpadding="0" cellspacing="1" id="headerTable" summary="replace">
 <tr> </tr>
 <tr><td class="table-head" nowrap="">代號</td><td class="table-head" nowrap="">名稱</td><td class="table-head" nowrap="">收盤 </td><td class="table-head" nowrap="">漲跌</td><td class="table-head" nowrap="">開盤 </td><td class="table-head" nowrap="">最高 </td><td class="table-head" nowrap="">最低</td><td class="table-head" nowrap="">成交股數  </td><td class="table-head" nowrap="">成交金額(元)</td><td class="table-head" nowrap="">成交<br/>筆數 </td><td class="table-head" nowrap="">最後<br/>買價</td><td class="table-head" nowrap="">最後<br/>賣價</td><td class="table-head" nowrap="">發行股數 </td><td class="table-head" nowrap="">次日<br/>漲停價 </td><td class="table-head" nowrap="">次日<br/>跌停價 </td></tr> </table>}

In [23]:
for date in pd.date_range('2007-01-02','2007-04-20'):
    print(date.date())
    text = otc.joinpath(str(date.date())).with_suffix('.html').read_text()
    if text == '\n\n':
        clear_output(wait=True)
        continue
    else:
        assert date.strftime(f'{date.year-1911}年%m月%d日') in text
        title,table = pd.read_html(text,converters={0:str})
        table.columns = title.loc[1]
        table.to_csv(root.joinpath('上櫃_csv',str(date.date())).with_suffix('.csv'),encoding='utf8',index=False)
        clear_output(wait=True)

2007-04-20

In [63]:
titles = set()
for date in pd.date_range('2007-04-23','2007-06-29'):
    print(date.date())
    text = otc.joinpath(str(date.date())).with_suffix('.html').read_text()
    if text == '\n\n':
        clear_output(wait=True)
        continue
    table = BeautifulSoup(text)
    titles.add(table.find_all('table')[2].find('tr'))
    clear_output(wait=True)

2007-06-29

In [64]:
len(titles)

1

In [28]:
for date in pd.date_range('2007-04-23','2007-06-29'):
    print(date.date())
    text = otc.joinpath(str(date.date())).with_suffix('.html').read_text()
    if text == '\n\n':
        clear_output(wait=True)
        continue
    else:
        assert date.strftime(f'{date.year-1911}年%m月%d日') in text
        table = pd.read_html(text,converters={'代號':str})[2]
        table.to_csv(root.joinpath('上櫃_csv',str(date.date())).with_suffix('.csv'),encoding='utf8',index=False)
        clear_output(wait=True)

2007-06-29

In [72]:
titles = set()
for date in pd.date_range('2007-07-02','2021-04-27'):
    print(date.date())
    text = otc.joinpath(str(date.date())).with_suffix('.html').read_text('utf8')
    if '共0筆' in  text:
        clear_output(wait=True)
        continue
    else:
        table = BeautifulSoup(text)
        titles.add(table.find('table').find('thead').find_all('tr')[1])
        clear_output(wait=True)

2021-04-27

In [87]:
len(titles)

2

In [35]:
for date in pd.date_range('2007-07-02','2021-05-26'):
    print(date.date())
    text = otc.joinpath(str(date.date())).with_suffix('.html').read_text('utf8')
    if '共0筆' in  text:
        clear_output(wait=True)
        continue
    else:
        table = BeautifulSoup(text)
        table.find('table').find('thead').find('tr').decompose()
        table.find('table').find('tfoot').decompose()
        table = pd.read_html(table.prettify(),converters={'代號':str})[0]
        table.to_csv(root.joinpath('上櫃_csv',str(date.date())).with_suffix('.csv'),encoding='utf8',index=False)
        clear_output(wait=True)

2021-05-26

In [36]:
otc_dates = pd.DatetimeIndex(x.with_suffix('').name for x in root.joinpath('上櫃_csv').glob('*.csv'))

In [31]:
with open('BusinessDates.idx','rb') as f:
    business_dates = pickle.load(f)

In [32]:
business_dates = business_dates[(business_dates>='2007-01-02')&(business_dates<='2021-05-26')]

In [37]:
(business_dates == otc_dates).all()

True

In [48]:
data = pd.DataFrame()
for csv in root.joinpath('上櫃_csv').glob('*.csv'):
    print(csv.as_posix())
    table = pd.read_csv(csv,encoding='utf8',dtype={'代號':str})
    table['日期'] = csv.with_suffix('').name
    data = data.append(table,sort=False)
    clear_output(wait=True)

D:/股票網頁/價量/上櫃_csv/2021-05-26.csv

In [51]:
# data.to_csv(root.joinpath('上櫃.csv'),encoding='utf8',index=False)

In [4]:
data = pd.read_csv(root.joinpath('上櫃.csv'),encoding='utf8',index_col='代號',dtype=str)

In [5]:
data

,名稱,收盤,漲跌,開盤,最高,最低,成交股數,成交金額(元),成交筆數,最後買價,最後賣價,發行股數,次日漲停價,次日跌停價,日期,最後買量(千股),最後賣量(千股)
代號,,,,,,,,,,,,,,,,,
4205,恆義,18.30,+ 0.20,18.10,18.30,18.10,29000,527100,12,18.1,18.3,60086250,19.55,17.05,2007-01-02,NaN,NaN
4207,環泰,⊕ 11.05,+ 0.70,10.40,⊕ 11.05,10.20,445000,4647250,94,11.05,0.0,79335476,11.8,10.3,2007-01-02,NaN,NaN
4303,信立,2.58,- 0.08,2.69,2.70,2.58,723000,1893010,105,2.58,2.6,128639015,2.76,2.4,2007-01-02,NaN,NaN
4304,琨詰,⊕ 5.70,+ 0.37,5.40,⊕ 5.70,5.40,1311000,7464850,96,5.56,5.7,48295484,6.09,5.31,2007-01-02,NaN,NaN
4305,世坤,14.50,+ 0.20,14.35,14.65,14.35,26000,376300,10,14.5,14.6,55014000,15.5,13.5,2007-01-02,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
020014,元大富櫃200N,----,---,----,----,----,0,0,0,6.94,6.96,60000000,7.64,6.26,2021-05-26,100.0,100.0
020017,永豐富櫃200N,----,---,----,----,----,0,0,0,6.78,6.81,40000000,7.45,6.11,2021-05-26,200.0,150.0
020021,統一恒生科技N,10.01,+0.09,9.92,10.02,9.92,767000,7650360,110,10.01,10.02,100000000,9999.95,0.01,2021-05-26,4.0,537.0
020023,元大櫃買半導體N,5.69,-0.02,5.75,5.81,5.69,474000,2714490,93,5.69,5.7,200000000,6.25,5.13,2021-05-26,114.0,105.0
020024,兆豐富櫃200N,----,---,----,----,----,0,0,0,5.5,5.51,40000000,6.05,4.95,2021-05-26,499.0,499.0

In [6]:
data = data[['名稱','日期','收盤','開盤','最高','最低','成交股數','成交金額(元)','成交筆數']]

In [7]:
data = data.loc[data['收盤']!='----']
data = data.loc[data['收盤']!='---']

In [8]:
data[['收盤','開盤','最高','最低']] = data[['收盤','開盤','最高','最低']].astype(str).applymap(lambda x:x.replace('⊕ ',''))
data[['收盤','開盤','最高','最低']] = data[['收盤','開盤','最高','最低']].applymap(lambda x:x.replace('⊙ ',''))
data[['收盤','開盤','最高','最低']] = data[['收盤','開盤','最高','最低']].astype(float)

In [15]:
data[['成交股數','成交金額(元)','成交筆數']] = data[['成交股數','成交金額(元)','成交筆數']].astype('int64')

In [16]:
data.dtypes

名稱          object
日期          object
收盤         float64
開盤         float64
最高         float64
最低         float64
成交股數         int64
成交金額(元)      int64
成交筆數         int64
dtype: object

In [17]:
ohlc = data.loc[:,['收盤','開盤','最高','最低']]
high = ohlc.max(axis=1)
low = ohlc.min(axis=1)

In [18]:
data.loc[ohlc['最高'] != high]

Empty DataFrame
Columns: [名稱, 日期, 收盤, 開盤, 最高, 最低, 成交股數, 成交金額(元), 成交筆數]
Index: []

In [19]:
data.loc[ohlc['最低'] != low]

Empty DataFrame
Columns: [名稱, 日期, 收盤, 開盤, 最高, 最低, 成交股數, 成交金額(元), 成交筆數]
Index: []

In [20]:
data.to_csv(root.joinpath('上櫃_final.csv'),encoding='utf8')