In [2]:
import pathlib
from bs4 import BeautifulSoup
from IPython.display import clear_output
import pandas as pd
import pickle

In [3]:
root = pathlib.Path('D:\股票網頁\股票\價量')
exchange = pd.read_csv(root.joinpath('上市_final.csv'),encoding='utf8',dtype=str)
otc = pd.read_csv(root.joinpath('上櫃_final.csv'),encoding='utf8',dtype=str)

In [4]:
otc.columns

Index(['代號', '名稱', '日期', '收盤', '開盤', '最高', '最低', '成交股數', '成交金額(元)', '成交筆數'], dtype='object')

In [6]:
otc.columns = ['ID','name','date','close','open','high','low','volume','capital','count']
otc['market'] = 'otc'

In [5]:
exchange.columns

Index(['證券代號', '日期', '證券名稱', '成交股數', '成交筆數', '成交金額', '開盤價', '最高價', '最低價',
       '收盤價'],
      dtype='object')

In [7]:
exchange.columns = ['ID','date','name','volume','count','capital','open','high','low','close']
exchange['market'] = 'exchange'

In [8]:
merge = exchange.append(otc,ignore_index=True)

In [9]:
dup = merge.loc[merge[['ID','date']].duplicated(keep=False)]

In [10]:
dup

Empty DataFrame
Columns: [ID, date, name, volume, count, capital, open, high, low, close, market]
Index: []

In [12]:
# merge.to_csv(root.joinpath('merge.csv'),encoding='utf8',index=False)

In [13]:
merge = merge.set_index('ID')

In [14]:
ids = merge.index.unique().sort_values()

,date,name,volume,count,capital,open,high,low,close,market
ID,,,,,,,,,,
0001,2004-02-11,鴻運,19000,7,147700,7.7,7.85,7.7,7.7,exchange
0015,2004-02-11,富邦,301000,40,1851900,6.2,6.2,6.15,6.15,exchange
0029,2004-02-11,富邦店,365000,63,1796740,4.95,4.95,4.89,4.89,exchange
0050,2004-02-11,元大台灣50,5264000,686,254721750,48.5,48.5,48.26,48.37,exchange
1101,2004-02-11,台泥,44990547,5708,875661311,19.9,19.9,19.1,19.3,exchange
...,...,...,...,...,...,...,...,...,...,...
9962,2021-05-26,有益,69000,40,726350,10.6,10.65,10.4,10.6,otc
020001,2021-05-26,富邦存股雙十N,4000,4,32420,8.08,8.16,8.08,8.16,otc
020013,2021-05-26,元富亞洲高股息N,1000,1,15930,15.93,15.93,15.93,15.93,otc
020021,2021-05-26,統一恒生科技N,767000,110,7650360,9.92,10.02,9.92,10.01,otc
020023,2021-05-26,元大櫃買半導體N,474000,93,2714490,5.75,5.81,5.69,5.69,otc

In [16]:
for i,stock_id in enumerate(ids):
    print(stock_id,i,'/',ids.size)
    table = merge.loc[[stock_id]]
    table = table.reset_index()
    table = table.set_index('date')
    table.index = pd.DatetimeIndex(table.index)
    table = table.sort_index()
    table = table[['open','high','low','close','volume','count','capital','ID','name','market']]
    table.to_csv(root.joinpath('final',stock_id).with_suffix('.csv'),encoding='utf8')
    clear_output(wait=True)

9962 5185 / 5186