In [1]:
import pathlib
from bs4 import BeautifulSoup
from IPython.display import clear_output
import pandas as pd
import datetime
import pickle

In [2]:
root = pathlib.Path('D:\股票網頁\股票\三大法人')
exchange = root.joinpath('上市')

In [52]:
exchange = root.joinpath('上市')
exchange = sorted(exchange.glob('*.html'))
diff_pair = [(i,i.with_suffix('.A.diff.html'),i.with_suffix('.B.diff.html')) for i in exchange if i.with_suffix('.A.diff.html').exists()]
for diff in diff_pair:
    print(diff[0].name,end='\t')
    O = diff[0].read_text(encoding='utf8')
    A = diff[1].read_text(encoding='utf8')
    B = diff[2].read_text(encoding='utf8')
    if O == A:
        diff[1].unlink()
        diff[2].unlink()
        print('O==A')
    elif O == B:
        diff[1].unlink()
        diff[2].unlink()
        print('O==B')
    elif A == B:
        diff[0].unlink()
        diff[2].unlink()
        diff[1].rename(diff[0])
        print('A==B')
    else:
        try:
            diff[0].rename(diff[0].with_suffix('.C.diff.html'))
        except FileExistsError:
            pass
        print('O!=A!=B')

2019-02-14.html	O!=A!=B

In [53]:
exchange = root.joinpath('上市')
exchange = sorted(exchange.glob('*.html'))
diff_pair = [(i,i.with_suffix('.A.diff.html'),i.with_suffix('.B.diff.html'),i.with_suffix('.C.diff.html')) for i in exchange if i.with_suffix('.A.diff.html').exists()]
for diff in diff_pair:
    print(diff[0].name,end='\t')
    O = diff[0].read_text(encoding='utf8')
    A = diff[1].read_text(encoding='utf8')
    B = diff[2].read_text(encoding='utf8')
    C = diff[3].read_text(encoding='utf8')
    if O == A:
        diff[1].unlink()
        diff[2].unlink()
        diff[3].unlink()
        print('O==A')
    elif O == B:
        diff[1].unlink()
        diff[2].unlink()
        diff[3].unlink()
        print('O==B')
    elif O == C:
        diff[1].unlink()
        diff[2].unlink()
        diff[3].unlink()
        print('O==C')
    else:
        print('O!=A!=B!=C')

2019-02-14.html	O==C

In [3]:
exchange = sorted(exchange.iterdir())

In [6]:
exchange = [e.with_suffix('').name for e in exchange if '很抱歉，沒有符合條件的資料!' not in e.read_text(encoding='utf8')]

In [3]:
import pandas as pd
import pickle

In [16]:
with open('BusinessDates.idx','rb') as f:
    business_dates = pickle.load(f)

In [18]:
business_dates = business_dates[(business_dates>='2012-05-02')&(business_dates<='2021-05-26')]

In [19]:
business_dates.difference(pd.DatetimeIndex(exchange))

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [21]:
pd.DatetimeIndex(exchange).difference(business_dates)

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [22]:
pd.DatetimeIndex(exchange)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-07',
               '2012-05-08', '2012-05-09', '2012-05-10', '2012-05-11',
               '2012-05-14', '2012-05-15',
               ...
               '2021-05-13', '2021-05-14', '2021-05-17', '2021-05-18',
               '2021-05-19', '2021-05-20', '2021-05-21', '2021-05-24',
               '2021-05-25', '2021-05-26'],
              dtype='datetime64[ns]', length=2226, freq=None)

In [23]:
business_dates

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-07',
               '2012-05-08', '2012-05-09', '2012-05-10', '2012-05-11',
               '2012-05-14', '2012-05-15',
               ...
               '2021-05-13', '2021-05-14', '2021-05-17', '2021-05-18',
               '2021-05-19', '2021-05-20', '2021-05-21', '2021-05-24',
               '2021-05-25', '2021-05-26'],
              dtype='datetime64[ns]', length=2226, freq=None)

In [4]:
exchange = root.joinpath('上市')
exchange = sorted(exchange.glob('*.html'))

In [10]:
record = {}
for f in exchange:
    print(f.as_posix(),end='\t')
    table =  f.read_text('utf8')
    if '很抱歉，沒有符合條件的資料!' in table:
        clear_output(wait=True)
        continue
    table = pd.read_html(table)[0]
    date = pd.Timestamp(f.with_suffix('').name)
    assert date.strftime(f'{date.year-1911}年%m月%d日 三大法人買賣超日報') == table.columns.levels[0][0]
    record.setdefault(tuple(table.columns.droplevel(0)),f)
    clear_output(wait=True)

D:/股票網頁/股票/三大法人/上市/2021-05-26.html

In [11]:
record

{('證券代號',
  '證券名稱',
  '外資買進股數',
  '外資賣出股數',
  '外資買賣超股數',
  '投信買進股數',
  '投信賣出股數',
  '投信買賣超股數',
  '自營商買賣超股數',
  '自營商買進股數',
  '自營商賣出股數',
  '三大法人買賣超股數'): WindowsPath('D:/股票網頁/股票/三大法人/上市/2012-05-02.html'),
 ('證券代號',
  '證券名稱',
  '外資買進股數',
  '外資賣出股數',
  '外資買賣超股數',
  '投信買進股數',
  '投信賣出股數',
  '投信買賣超股數',
  '自營商買賣超股數',
  '自營商買進股數(自行買賣)',
  '自營商賣出股數(自行買賣)',
  '自營商買賣超股數(自行買賣)',
  '自營商買進股數(避險)',
  '自營商賣出股數(避險)',
  '自營商買賣超股數(避險)',
  '三大法人買賣超股數'): WindowsPath('D:/股票網頁/股票/三大法人/上市/2014-12-01.html'),
 ('證券代號',
  '證券名稱',
  '外陸資買進股數(不含外資自營商)',
  '外陸資賣出股數(不含外資自營商)',
  '外陸資買賣超股數(不含外資自營商)',
  '外資自營商買進股數',
  '外資自營商賣出股數',
  '外資自營商買賣超股數',
  '投信買進股數',
  '投信賣出股數',
  '投信買賣超股數',
  '自營商買賣超股數',
  '自營商買進股數(自行買賣)',
  '自營商賣出股數(自行買賣)',
  '自營商買賣超股數(自行買賣)',
  '自營商買進股數(避險)',
  '自營商賣出股數(避險)',
  '自營商買賣超股數(避險)',
  '三大法人買賣超股數'): WindowsPath('D:/股票網頁/股票/三大法人/上市/2017-12-18.html')}

In [4]:
first_table = pd.DataFrame()

for date in pd.date_range('2012-05-02','2014-11-30'):
    html = root.joinpath('上市',date.strftime('%Y-%m-%d.html'))
    print(html.as_posix())
    table =  html.read_text('utf8')
    if '很抱歉，沒有符合條件的資料!' in table:
        clear_output(wait=True)
        continue
    else:
        table = pd.read_html(table,converters={'證券代號':str})[0]
        table.columns = table.columns.droplevel(0)
        table['日期'] = date
        first_table = first_table.append(table)
        clear_output(wait=True)

D:/股票網頁/股票/三大法人/上市/2014-11-30.html

In [5]:
second_table = pd.DataFrame()
for date in pd.date_range('2014-12-01','2017-12-17'):
    html = root.joinpath('上市',date.strftime('%Y-%m-%d.html'))
    print(html.as_posix())
    table =  html.read_text('utf8')
    if '很抱歉，沒有符合條件的資料!' in table:
        clear_output(wait=True)
        continue
    else:
        table = pd.read_html(table,converters={'證券代號':str})[0]
        table.columns = table.columns.droplevel(0)
        table['日期'] = date
        second_table = second_table.append(table)
        clear_output(wait=True)

D:/股票網頁/股票/三大法人/上市/2017-12-17.html

In [6]:
third_table = pd.DataFrame()
for date in pd.date_range('2017-12-18','2021-05-26'):
    html = root.joinpath('上市',date.strftime('%Y-%m-%d.html'))
    print(html.as_posix())
    table =  html.read_text('utf8')
    if '很抱歉，沒有符合條件的資料!' in table:
        clear_output(wait=True)
        continue
    else:
        table = pd.read_html(table,converters={'證券代號':str})[0]
        table.columns = table.columns.droplevel(0)
        table['日期'] = date
        third_table = third_table.append(table)
        clear_output(wait=True)

D:/股票網頁/股票/三大法人/上市/2021-05-26.html

In [7]:
first_table.columns

Index(['證券代號', '證券名稱', '外資買進股數', '外資賣出股數', '外資買賣超股數', '投信買進股數', '投信賣出股數',
       '投信買賣超股數', '自營商買賣超股數', '自營商買進股數', '自營商賣出股數', '三大法人買賣超股數', '日期'],
      dtype='object')

In [8]:
second_table.columns

Index(['證券代號', '證券名稱', '外資買進股數', '外資賣出股數', '外資買賣超股數', '投信買進股數', '投信賣出股數',
       '投信買賣超股數', '自營商買賣超股數', '自營商買進股數(自行買賣)', '自營商賣出股數(自行買賣)',
       '自營商買賣超股數(自行買賣)', '自營商買進股數(避險)', '自營商賣出股數(避險)', '自營商買賣超股數(避險)',
       '三大法人買賣超股數', '日期'],
      dtype='object')

In [9]:
third_table.columns

Index(['證券代號', '證券名稱', '外陸資買進股數(不含外資自營商)', '外陸資賣出股數(不含外資自營商)',
       '外陸資買賣超股數(不含外資自營商)', '外資自營商買進股數', '外資自營商賣出股數', '外資自營商買賣超股數', '投信買進股數',
       '投信賣出股數', '投信買賣超股數', '自營商買賣超股數', '自營商買進股數(自行買賣)', '自營商賣出股數(自行買賣)',
       '自營商買賣超股數(自行買賣)', '自營商買進股數(避險)', '自營商賣出股數(避險)', '自營商買賣超股數(避險)',
       '三大法人買賣超股數', '日期'],
      dtype='object')

In [10]:
first_table.dtypes

證券代號                 object
證券名稱                 object
外資買進股數                int64
外資賣出股數                int64
外資買賣超股數               int64
投信買進股數                int64
投信賣出股數                int64
投信買賣超股數               int64
自營商買賣超股數              int64
自營商買進股數               int64
自營商賣出股數               int64
三大法人買賣超股數             int64
日期           datetime64[ns]
dtype: object

In [11]:
second_table.dtypes

證券代號                      object
證券名稱                      object
外資買進股數                     int64
外資賣出股數                     int64
外資買賣超股數                    int64
投信買進股數                     int64
投信賣出股數                     int64
投信買賣超股數                    int64
自營商買賣超股數                   int64
自營商買進股數(自行買賣)              int64
自營商賣出股數(自行買賣)              int64
自營商買賣超股數(自行買賣)             int64
自營商買進股數(避險)                int64
自營商賣出股數(避險)                int64
自營商買賣超股數(避險)               int64
三大法人買賣超股數                  int64
日期                datetime64[ns]
dtype: object

In [12]:
third_table.dtypes

證券代號                         object
證券名稱                         object
外陸資買進股數(不含外資自營商)              int64
外陸資賣出股數(不含外資自營商)              int64
外陸資買賣超股數(不含外資自營商)             int64
外資自營商買進股數                     int64
外資自營商賣出股數                     int64
外資自營商買賣超股數                    int64
投信買進股數                        int64
投信賣出股數                        int64
投信買賣超股數                       int64
自營商買賣超股數                      int64
自營商買進股數(自行買賣)                 int64
自營商賣出股數(自行買賣)                 int64
自營商買賣超股數(自行買賣)                int64
自營商買進股數(避險)                   int64
自營商賣出股數(避險)                   int64
自營商買賣超股數(避險)                  int64
三大法人買賣超股數                     int64
日期                   datetime64[ns]
dtype: object

In [13]:
first_table.columns.difference(second_table.columns)

Index(['自營商買進股數', '自營商賣出股數'], dtype='object')

In [14]:
first_table.columns.difference(third_table.columns)

Index(['外資買賣超股數', '外資買進股數', '外資賣出股數', '自營商買進股數', '自營商賣出股數'], dtype='object')

In [15]:
second_table['自營商買進股數'] = second_table['自營商買進股數(自行買賣)'] + second_table['自營商買進股數(避險)']
second_table['自營商賣出股數'] = second_table['自營商賣出股數(自行買賣)'] + second_table['自營商賣出股數(避險)']

second_table = second_table.reindex([
    '日期',
    '證券代號',
    '證券名稱',
    '外資買進股數',
    '外資賣出股數',
    '外資買賣超股數',
    '投信買進股數',
    '投信賣出股數',
    '投信買賣超股數',
    '自營商買進股數(自行買賣)',
    '自營商賣出股數(自行買賣)',
    '自營商買賣超股數(自行買賣)',
    '自營商買進股數(避險)',
    '自營商賣出股數(避險)',
    '自營商買賣超股數(避險)',
    '自營商買進股數',
    '自營商賣出股數',
    '自營商買賣超股數',
    '三大法人買賣超股數'
],axis=1)

In [16]:
third_table = third_table.rename({'外陸資買進股數(不含外資自營商)':'外資買進股數','外陸資賣出股數(不含外資自營商)':'外資賣出股數','外陸資買賣超股數(不含外資自營商)':'外資買賣超股數'},axis=1)
third_table['自營商買進股數'] = third_table['自營商買進股數(自行買賣)'] + third_table['自營商買進股數(避險)']
third_table['自營商賣出股數'] = third_table['自營商賣出股數(自行買賣)'] + third_table['自營商賣出股數(避險)']

third_table = third_table.reindex([
    '日期',
    '證券代號',
    '證券名稱',
    '外資買進股數',
    '外資賣出股數',
    '外資買賣超股數',
    '投信買進股數',
    '投信賣出股數',
    '投信買賣超股數',
    '自營商買進股數(自行買賣)',
    '自營商賣出股數(自行買賣)',
    '自營商買賣超股數(自行買賣)',
    '自營商買進股數(避險)',
    '自營商賣出股數(避險)',
    '自營商買賣超股數(避險)',
    '外資自營商買進股數',
    '外資自營商賣出股數',
    '外資自營商買賣超股數',
    '自營商買進股數',
    '自營商賣出股數',
    '自營商買賣超股數',
    '三大法人買賣超股數'],axis=1)

In [17]:
table = first_table.append([second_table,third_table])

In [18]:
table['三大法人買進'] = table['外資買進股數'] + table['投信買進股數'] + table['自營商買進股數']
table['三大法人賣出'] = table['外資賣出股數'] + table['投信賣出股數'] + table['自營商賣出股數']

In [19]:
table = table.reindex([
    '日期',
    '證券代號',
    '證券名稱',
    '外資買進股數',
    '外資賣出股數',
    '外資買賣超股數',
    '投信買進股數',
    '投信賣出股數',
    '投信買賣超股數',
    '自營商買進股數(自行買賣)',
    '自營商賣出股數(自行買賣)',
    '自營商買賣超股數(自行買賣)',
    '自營商買進股數(避險)',
    '自營商賣出股數(避險)',
    '自營商買賣超股數(避險)',
    '外資自營商買進股數',
    '外資自營商賣出股數',
    '外資自營商買賣超股數',
    '自營商買進股數',
    '自營商賣出股數',
    '自營商買賣超股數',
    '三大法人買進',
    '三大法人賣出',
    '三大法人買賣超股數'],axis=1)

In [20]:
table = table.rename({
    '日期':'日期',
    '證券代號':'代號',
    '證券名稱':'名稱',
    '外資買進股數':'外資_買進',
    '外資賣出股數':'外資_賣出',
    '外資買賣超股數':'外資_買賣超',
    '投信買進股數':'投信_買進',
    '投信賣出股數':'投信_賣出',
    '投信買賣超股數':'投信_買賣超',
    '自營商買進股數(自行買賣)':'自營商_自行買賣_買進',
    '自營商賣出股數(自行買賣)':'自營商_自行買賣_賣出',
    '自營商買賣超股數(自行買賣)':'自營商_自行買賣_買賣超',
    '自營商買進股數(避險)':'自營商_避險_買進',
    '自營商賣出股數(避險)':'自營商_避險_賣出',
    '自營商買賣超股數(避險)':'自營商_避險_買賣超',
    '外資自營商買進股數':'自營商_外資_買進',
    '外資自營商賣出股數':'自營商_外資_賣出',
    '外資自營商買賣超股數':'自營商_外資_買賣超',
    '自營商買進股數':'自營商_買進',
    '自營商賣出股數':'自營商_賣出',
    '自營商買賣超股數':'自營商_買賣超',
    '三大法人買進':'三大法人_買進',
    '三大法人賣出':'三大法人_賣出',
    '三大法人買賣超股數':'三大法人_買賣超',
},axis=1)

In [21]:
table.dtypes

日期              datetime64[ns]
代號                      object
名稱                      object
外資_買進                    int64
外資_賣出                    int64
外資_買賣超                   int64
投信_買進                    int64
投信_賣出                    int64
投信_買賣超                   int64
自營商_自行買賣_買進            float64
自營商_自行買賣_賣出            float64
自營商_自行買賣_買賣超           float64
自營商_避險_買進              float64
自營商_避險_賣出              float64
自營商_避險_買賣超             float64
自營商_外資_買進              float64
自營商_外資_賣出              float64
自營商_外資_買賣超             float64
自營商_買進                   int64
自營商_賣出                   int64
自營商_買賣超                  int64
三大法人_買進                  int64
三大法人_賣出                  int64
三大法人_買賣超                 int64
dtype: object

In [66]:
(table['三大法人_買賣超'] == (table['三大法人_買進'] - table['三大法人_賣出'])).all()

True

In [22]:
table

,日期,代號,名稱,外資_買進,外資_賣出,外資_買賣超,投信_買進,投信_賣出,投信_買賣超,自營商_自行買賣_買進,...,自營商_避險_買賣超,自營商_外資_買進,自營商_外資_賣出,自營商_外資_買賣超,自營商_買進,自營商_賣出,自營商_買賣超,三大法人_買進,三大法人_賣出,三大法人_買賣超
0,2012-05-02,2303,聯電,46911000,28499762,18411238,5707000,0,5707000,NaN,...,NaN,NaN,NaN,NaN,648000,2000,646000,53266000,28501762,24764238
1,2012-05-02,2324,仁寶,18164000,3682000,14482000,980000,0,980000,NaN,...,NaN,NaN,NaN,NaN,554000,139000,415000,19698000,3821000,15877000
2,2012-05-02,2888,新光金,10855000,1624000,9231000,80000,0,80000,NaN,...,NaN,NaN,NaN,NaN,891000,97000,794000,11826000,1721000,10105000
3,2012-05-02,1216,統一,9534000,1743124,7790876,1942000,100000,1842000,NaN,...,NaN,NaN,NaN,NaN,210000,130000,80000,11686000,1973124,9712876
4,2012-05-02,2891,中信金,15626000,7611326,8014674,736000,0,736000,NaN,...,NaN,NaN,NaN,NaN,956000,460223,495777,17318000,8071549,9246451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076,2021-05-26,1304,台聚,3524822,19047000,-15522178,0,0,0,321000.0,...,89000.0,0.0,0.0,0.0,437000,61627,375373,3961822,19108627,-15146805
1077,2021-05-26,2344,華邦電,15044100,42994200,-27950100,3341000,0,3341000,1194025.0,...,-776000.0,0.0,0.0,0.0,1824025,2653066,-829041,20209125,45647266,-25438141
1078,2021-05-26,6116,彩晶,17168010,45235340,-28067330,543911,0,543911,2798000.0,...,-717300.0,0.0,0.0,0.0,3484000,4169743,-685743,21195921,49405083,-28209162
1079,2021-05-26,2303,聯電,21048000,73302182,-52254182,12836000,865000,11971000,9177000.0,...,-376237.0,0.0,0.0,0.0,10144400,8905637,1238763,44028400,83072819,-39044419
1080,2021-05-26,3481,群創,62598750,107473000,-44874250,1000000,12572000,-11572000,5629000.0,...,-2761000.0,0.0,0.0,0.0,7012000,8972398,-1960398,70610750,129017398,-58406648

In [23]:
table.to_csv(root.joinpath('上市.csv'),encoding='utf8',index=False)

In [24]:
table

,日期,代號,名稱,外資_買進,外資_賣出,外資_買賣超,投信_買進,投信_賣出,投信_買賣超,自營商_自行買賣_買進,...,自營商_避險_買賣超,自營商_外資_買進,自營商_外資_賣出,自營商_外資_買賣超,自營商_買進,自營商_賣出,自營商_買賣超,三大法人_買進,三大法人_賣出,三大法人_買賣超
0,2012-05-02,2303,聯電,46911000,28499762,18411238,5707000,0,5707000,NaN,...,NaN,NaN,NaN,NaN,648000,2000,646000,53266000,28501762,24764238
1,2012-05-02,2324,仁寶,18164000,3682000,14482000,980000,0,980000,NaN,...,NaN,NaN,NaN,NaN,554000,139000,415000,19698000,3821000,15877000
2,2012-05-02,2888,新光金,10855000,1624000,9231000,80000,0,80000,NaN,...,NaN,NaN,NaN,NaN,891000,97000,794000,11826000,1721000,10105000
3,2012-05-02,1216,統一,9534000,1743124,7790876,1942000,100000,1842000,NaN,...,NaN,NaN,NaN,NaN,210000,130000,80000,11686000,1973124,9712876
4,2012-05-02,2891,中信金,15626000,7611326,8014674,736000,0,736000,NaN,...,NaN,NaN,NaN,NaN,956000,460223,495777,17318000,8071549,9246451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076,2021-05-26,1304,台聚,3524822,19047000,-15522178,0,0,0,321000.0,...,89000.0,0.0,0.0,0.0,437000,61627,375373,3961822,19108627,-15146805
1077,2021-05-26,2344,華邦電,15044100,42994200,-27950100,3341000,0,3341000,1194025.0,...,-776000.0,0.0,0.0,0.0,1824025,2653066,-829041,20209125,45647266,-25438141
1078,2021-05-26,6116,彩晶,17168010,45235340,-28067330,543911,0,543911,2798000.0,...,-717300.0,0.0,0.0,0.0,3484000,4169743,-685743,21195921,49405083,-28209162
1079,2021-05-26,2303,聯電,21048000,73302182,-52254182,12836000,865000,11971000,9177000.0,...,-376237.0,0.0,0.0,0.0,10144400,8905637,1238763,44028400,83072819,-39044419
1080,2021-05-26,3481,群創,62598750,107473000,-44874250,1000000,12572000,-11572000,5629000.0,...,-2761000.0,0.0,0.0,0.0,7012000,8972398,-1960398,70610750,129017398,-58406648